// Copyright 2026 lomos technologies
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
body{
  padding: 25px;
}
.title {
	color: #5C6AC4;
}
footer {
  position: fixed;
  bottom: 0;
  font-family: "outfit";
  z-index: 1000;
  background: rgba(255, 255, 255, 0.85);
  font-size: 18px;
  font-weight: 300;
}
#map {
  width: 100%;
  height: 100vh;
}
.left-year-select {
    top: 20px;
  right: 20px;
}

.yearselect {
	-webkit-appearance: none;
    -moz-appearance: none;
  position: absolute;
  z-index:1000;
	top: 20px;
  right: 20px;
	font-family: "outfit";
	font-weight: 300;
	font-size: 24px !important;
  padding: 12px 20px !important;
}
.yearselect select {
	-webkit-appearance: none;
    -moz-appearance: none;
	position: absolute;
  z-index:1000;
  top: 20px;
  right: 20px;
	font-family: "outfit";
	font-weight: 300;
	font-size: 24px !important;
  padding: 12px 20px !important;
	
}
	
